@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

/* Your custom CSS (normal CSS only) */
:root {
  --color-primary: #FF6B6B;
  --color-secondary: #1A2B48;
}

body {
  background-color: #f5f7fb;
  color: #1A2B48;
  font-family: 'Inter', sans-serif;
}